.smooth-scroll {
  scroll-behavior: smooth;
}

.intro {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.intro.expand {
  max-height: 100vh; // or a specific height
}

.accordion {
  transition: max-height 0.3s ease;
}

.accordion-content {
  display: none;
}

.accordion.active .accordion-content {
  display: block;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
  position: relative;
}

.slider {
  position: relative;
  overflow: hidden;
}

.slider img {
  width: 100%;
  transition: transform 0.5s ease;
}
